html, body
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	border: none;
	overflow: auto;
}

section > article
{
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	box-sizing: border-box;
	padding: 10vmin;
}

h1
{
	font-size: 4vmin;
	margin-top: 1vmin;
	margin-bottom: 1vmin;
}

h2
{
	font-size: 3vmin;
	margin-top: 1vmin;
	margin-bottom: 1vmin;
}

hr
{
	border: 0.2vmin solid #444444;
}
